.infoBox {
    padding: 0 5px;
    line-height: 30px;
    font-size: 16px;
    color: #333;
}

.title {
    /* font-weight: bold; */
    font-size: 22px;
    margin: 20px 0;
}

.content p {
    color: #333;
    line-height: 25px;
    margin: 0;
    font-size: 16px;
}

.btnBox {
    text-align: center;
    margin-top: 30px;
}

.btnBox button {
    min-width: 70%;
    font-size: 35px;
    height: 200px;
}

.timeBox {
    text-align: center;
    font-size: 26px;
    color: red;
    margin-top: 15px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

#remainingTime {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

#typeBox {
    font-size: 120px;
    color: #000;
    width: 160px;
    line-height: normal;
    text-align: center;
    display: block;
    margin: 0px auto 0px auto;
}

@keyframes kf-black {
    from {
        color: black;
    }

    to {
        color: #eee;
    }
}

@keyframes kf-greenyellow {
    from {
        color: greenyellow;
    }

    to {
        color: #eee;
    }
}

@keyframes kf-blueviolet {
    from {
        color: blueviolet;
    }

    to {
        color: #eee;
    }
}

@keyframes kf-green {
    from {
        color: green;
    }

    to {
        color: #eee;
    }
}

@keyframes kf-cyan {
    from {
        color: cyan;
    }

    to {
        color: #eee;
    }
}

@keyframes kf-blue {
    from {
        color: blue;
    }

    to {
        color: #eee;
    }
}

@keyframes kf-purple {
    from {
        color: purple;
    }

    to {
        color: #eee;
    }
}

@-webkit-keyframes myfirst

/* Safari and Chrome */
    {
    from {
        border: 3px solid #0000FF;
    }

    to {
        border: 3px solid #fff;
    }


}

#checkNA {
    text-align: center;
    color: red;
    font-size: 34px;
    font-weight: bold;
}

#checkCode {
    text-align: center;
    color: red;
    font-size: 26px;
    font-weight: bold;
}

.title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #6cb0fb;
    color: #fff;
    padding: 10px 5px;
}

.title-bar .title-text {
    flex: 1;
    padding-left: 16px;
}

.title-bar .title-icon {
    width: 26px;
    height: 26px;
}

body {
    padding: 0;
    margin: 0;
}